@import url('https://fonts.googleapis.com/css?family=PT+Serif');
body {
  font-family: Montserrat;
  color: #333333;
}
:lang(fr-FR){
	.langen{
		display:none;
	}
	 #formBoxen{
		 #Trickory {color: #3b3d40;} 
		#Trickory:visited {color: #FFF;} 
		#Trickory input:focus + label {display: none;} 
		
		#Trickory input {
			width:95%;
			z-index:3;
			position:relative;
			background-color:transparent;
		}
		#Trickory label {
			position:absolute;
			display:block;
			top:3px;
			left:4px;
			z-index:1;
}

		 
			 
	 }
}
:lang(en-US){
	.langfr{
		display:none;
	}
	 #formBoxen{
		 #Trickory {color: #3b3d40;} 
		#Trickory:visited {color: #FFF;} 
		#Trickory input:focus + label {display: none;} 
		
		#Trickory input {
			width:95%;
			z-index:3;
			position:relative;
			background-color:transparent;
		}
		#Trickory label {
			position:absolute;
			display:block;
			top:3px;
			left:4px;
			z-index:1;
}

		 
			 
	 }
}

.site-branding{
	padding-bottom:20px;
}
.single #content header{
	padding:0 15px;
}
.lightColor{
  color: rgba(51, 51, 51, 0.8);
  a {
	  color: rgba(51, 51, 51, 0.8);
	  text-decoration: none;
  }
}
.chpratique > .vc_column-inner {
	    background-color: rgba(96,142,181,0.8) !important;
}
.chpratiqueglobale {
	overflow:hidden;
	width:100%;
}
.chpratiqueglobale .vc_parallax .vc_parallax-inner{
	margin:5px 10px;
}
.chpratique{
	padding: 5px 10px 0 10px !important;
	color:#fff;
	a{
		color:#fff;
	}
	a:hover{
		color:#f79468
	}
}
.minh68{
	min-height:calc(72vw / 20);
	max-width:430px;
}
.minh108{
	min-height:calc(108vw / 20);
	max-width:430px;
}
footer a{
	color:#fff;
	text-decoration:none;
}
.domaine{
	p{
		margin:5px 0;
	}
	.font24{
		margin-top:20px;
		a{
			text-transform:uppercase;
			font-family: 'PT Serif', serif;
		}
		a:hover{
			color:#608eb5;
		}
	}
}

$themeColor: #608eb5;

.page-content, .entry-content, .entry-summary{
  margin: 0px;
}
.apropos{
	margin-top:calc(150vw / 20);
	p{
		color:#fff;
	}
	.font18{
		font-family: 'PT Serif', serif;
	}

}
@media (max-width: 425px) {

  %font40 {
    font-size: calc(38vw / 5);
  }
  %font30 {
    font-size: calc(28vw / 5);
  }
  %font24 {
    font-size: calc(22vw / 5);
  }
  %font22 {
    font-size: calc(20vw / 5);
  }
  %font20 {
    font-size: calc(18vw / 5);
  }
  %font18 {
    font-size: calc(17vw / 5);
  }
  %font16 {
    font-size: calc(16vw / 5);
  }
  %font14 {
    font-size: calc(14vw / 5);
  }
  .footerPage .addressAndLink .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
    font-size: calc(22vw / 5) !important;
  }
  .footerPage .addressAndLink .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    width: calc(30vw / 5);
    height: calc(30vw / 5);
  }
  .footerPage {
    padding: calc(70vw / 20) calc(125vw / 20) !important;
  }
  .titleCover {
    top: calc(-230vw / 5);
    .title {
      font-size: calc(20vw / 5);
    }
    .description {
      font-size: calc(11vw / 5);
    }
  }
  .ressoucesRight{
    &.wpb_text_column.wpb_content_element{

      padding-left: 0px!important;
      border-left: 0px!important;
    }
  p{

    text-align: center!important;
  }
  }
  .ressoucesLeft{

    p{

      text-align: center!important;
    }

  }
  .nomobile{
	  display:none !important;
  }
  .bgris{
	  padding-left:50px;
	      margin-left: -30px !important;
	  width: 120%;
    height: calc(130vw / 5) !important;
	p{
		padding-top:50px !important;
	}
  }
 .wpb_wrapper .wpb_wrapper,.wpb_wrapper .vc_grid-container, .wpb_wrapper h2, article{
	  padding-left:15px;
	  padding-right:15px;
  }
  .blogBlock .vc_grid-item .vc_gitem-animated-block .vc_gitem-zone{
		width:80%;
	}

.minh68, .minh108 {
    min-height: 0;
   max-width: 100%;
}

}

@media (min-width: 426px) and (max-width: 767px) {
	.blogBlock767{
		width: 50%;
   		margin: 0;
    	float: left;
	}
	.apropos767part2{
		display:none;
	}
	.apropos767part1{
		    background: url(/wp-content/uploads/2018/02/jonathan-2.jpg) 260% top/85% no-repeat;
			margin:0;
			.aproposwid{
				width:50%;
			}
	}
	.blogBlock .vc_grid-item .vc_gitem-animated-block .vc_gitem-zone{
		width:80%;
	}
	.minh68, .minh108{
    min-height: 0;
   max-width: 100%;
}

	 .bgris{
	  padding-left:50px;
	      margin-left: -30px !important;
	  width: 120%;
    height: calc(130vw / 8) !important;
	p{
		padding-top:50px !important;
	}
  }
 .wpb_wrapper .wpb_wrapper,.wpb_wrapper .vc_grid-container,.wpb_wrapper h2, article{
	  padding-left:15px;
	  padding-right:15px;
  }
  %font40 {
    font-size: calc(40vw / 7);
  }
  %font30 {
    font-size: calc(30vw / 7);
  }
  %font24 {
    font-size: calc(24vw / 7);
  }
  %font22 {
    font-size: calc(22vw / 7);
  }
  %font20 {
    font-size: calc(20vw / 7);
  }
  %font18 {
    font-size: calc(18vw / 7);
  }
  %font16 {
    font-size: calc(16vw / 7);
  }
  %font14 {
    font-size: calc(14vw / 7);
  }
  .footerPage .addressAndLink .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
    font-size: calc(22vw / 7) !important;
  }
  .footerPage .addressAndLink .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    width: calc(30vw / 7);
    height: calc(30vw / 7);
  }
  .footerPage {
    padding: calc(70vw / 20) calc(125vw / 20) !important;
  }
  .titleCover {
    top: calc(-420vw / 13);
    .title {
      font-size: calc(40vw / 10);
    }
    .description {
      font-size: calc(24vw / 10);
    }
  }
  .mobile {
	   .titleCover {
    top: calc(-580vw / 13);
	   }
  }
  .paddingContent{
    padding: 20px 20px;
  }
  .ressoucesRight{
    &.wpb_text_column.wpb_content_element{

      padding-left: 0px!important;
      border-left: 0px!important;
    }
    p{

      text-align: center!important;
    }
  }
  .ressoucesLeft{

    p{

      text-align: center!important;
    }

  }
   .nomobile{
	  display:none !important;
  }
  .bgris{
	  padding-left:50px;
  }
}
@media (max-width: 1024px) {
  #top-menu {
    display:none;
  }
}
@media (max-width: 1366px) and (min-width: 768px) {
  %font40 {
    font-size: calc(40vw / 15);
  }
  %font30 {
    font-size: calc(30vw / 15);
  }
  %font24 {
    font-size: calc(24vw / 15);
  }
  %font22 {
    font-size: calc(22vw / 15);
  }
  %font20 {
    font-size: calc(20vw / 15);
  }
  %font18 {
    font-size: calc(18vw / 15);
  }
  %font16 {
    font-size: calc(16vw / 15);
  }
  %font14 {
    font-size: calc(14vw / 15);
  }
	.minh68{
		min-height:calc(72vw / 15);
		max-width:430px;
	}
	.minh108{
		min-height:calc(108vw / 15);
		max-width:430px;
	}
  .limitedContent {
    padding: 0px calc(140vw / 15);
	overflow:hidden;
  }
    .limitedContent2 {
    padding: 0px calc(113vw / 15);
	overflow:hidden;
  }
  .authorHomepage {
    width: calc(665vw / 15);
    /*margin-top: calc(-164vw / 16);*/
  }
  .blogBlock {
    padding: 0px calc(120vw / 20);
  }
  .footerPage {
    padding: calc(70vw / 20) calc(125vw / 20) !important;
  }

  .paddingContent{
    padding: 20px calc(190vw / 20);
  }
  .site-header{
    padding: 20px calc(190vw / 20) 0px;
  }

  .centerContact .wpcf7-submit {
    width: calc(304vw / 13) !important;
  }
  .blogBlock .vc_grid-item .vc_gitem-animated-block .vc_gitem-zone {
    height: calc(250vw / 13);
    width: calc(250vw / 13);
  }
  .main-navigation div > ul > li {
    padding: 0px calc(10vw / 13) 0px;
  }
.main-navigation div #primary-menu > li {
	 padding: 0px calc(10vw / 13) 20px;
  }
  .custom-logo-link {
    width: calc(223vw / 13);
  }
  .blogBlock .vc_pageable-slide-wrapper {
    display: flex;
  }
  .footerPage .addressAndLink .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
    font-size: calc(22vw / 12) !important;
    left: 5px;
  }
  .footerPage .addressAndLink .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    width: calc(30vw / 13);
    height: calc(30vw / 13);
  }
  .centerContact {
    padding: 0px calc(515vw / 20);
  }
  .titleCover {
    top: calc(-365vw / 13);
    .title {
      font-size: calc(40vw / 13);
    }
    .description {
      font-size: calc(24vw / 13);
    }
  }
}

@media (min-width: 1367px) {
  %font40 {
    font-size: calc(46vw / 20);
  }
  %font30 {
    font-size: calc(32vw / 20);
  }
  %font24 {
    font-size: calc(24vw / 20);
	/*letter-spacing: 1px;*/
  }
  %font22 {
    font-size: calc(22vw / 20);
  }
  %font20 {
    font-size: calc(20vw / 20);
  }
  %font18 {
    font-size: calc(18vw / 20);
  }
  %font16 {
    font-size: calc(16vw / 20);
  }
  %font14 {
    font-size: calc(14vw / 19);
  }
  .limitedContent {
    padding: 0px calc(285vw / 20);
  }
    .limitedContent2 {
    padding: 0px calc(435vw / 20);
  }
  .authorHomepage {
    width: calc(784vw / 20);
   /* margin-top: calc(-164vw / 16);*/
  }
  .blogBlock {
    padding: 0px calc(280vw / 20);
  }
  .footerPage {
    padding: calc(70vw / 20) calc(400vw / 20) !important;
  }
  .paddingContent{
    padding: 20px calc(287vw / 20);
  }
  .site-header{
    padding: 20px calc(287vw / 20) 0px;
  }
  .centerContact .wpcf7-submit {

    width: calc(304vw / 20) !important;;
  }
  .blogBlock .vc_grid-item .vc_gitem-animated-block .vc_gitem-zone {
    height: calc(225vw / 16);
    width: calc(225vw / 16);
  }
  .main-navigation div > ul > li {
    padding: 5px 10px 0px;
  }
 .main-navigation div #primary-menu > li {
    padding: 5px 10px 20px;
  }
  .blogBlock .vc_pageable-slide-wrapper {
    display: flex;
  }
  .footerPage .addressAndLink .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
    font-size: calc(22vw / 15) !important;
    left: 5px;
  }
  .footerPage .addressAndLink .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    width: calc(30vw / 20);
    height: calc(30vw / 20);
  }
  .centerContact {
    padding: 0px calc(515vw / 20);
  }
  .titleCover {
    top: calc(-400vw / 16);
    .title {
      font-size: calc(50vw / 20);
	  margin:0;
    }
	span{
		text-transform:uppercase;
		font-weight: 300;
	}
	strong{
		font-weight:600;
	}
    .description {
      font-size: calc(24vw / 20);
    }
  }
}

.upperCase {
  text-transform: uppercase;
}

.extraBold {
  font-weight: bolder;
}

.whiteColor {
  color: #fff;
}

.noMargin {
  &.bottom {
    margin-bottom: 0px;
  }
  &.top {
    margin-top: 0px;
  }
  &.left{
    margin-left: 0px;
  }
}

.noPadding {
  &.top {
    padding-top: 0px;
  }
  &.left{
    padding-left: 0px;
  }
  &.top .vc_column-inner {
    padding-top: 0px !important;
  }
  
}

.borders{
  &.left{
    border-left: 1px solid #fff;
  }
  &.right{
    border-right: 1px solid #fff;
  }
}

.designGridImg{
  .wpb_image_grid_ul{
	max-height:366px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > li{
      position:initial!important;
	  padding: 0 7px !important;
    }
  }
}

.listul{
  &.border-down{
    li{
      border-bottom: 1px #bdbdbd solid;
	  padding-bottom:7px;
    }
  }
  &.margin-down{
    li{
      margin-bottom: 17px;
    }
  }
  &.no-dot{
    list-style: none;
  }
}

.font40 {
  @extend %font40;
}

.font30 {
  @extend %font30;
}

.font24 {
  @extend %font24;
}

.font20 {
  @extend %font20;
}

.font18 {
  @extend %font18;
}

.fontPT {
  font-family: "PT Serif";
}

.link {
  text-decoration: underline;
  font-weight: bold;
  color: $themeColor;
}

.main-navigation {
  a {
    @extend %font20;
  }
  .sub-menu{
	li{
	  margin-bottom:15px;
	}
	a{
	  @extend %font18;
	}
  }
}

.titleCover {
  height: 0px;
  position: relative;
  color: #fff;
  .description {
    font-family: "PT Serif";
  }
}

.authorHomepage {
  margin-bottom: 0px !important;
}

%contactDesign {
  .wpcf7-form-control {
    border-radius: 10px;
    width: 100%;
  }
  .wpcf7-submit {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background: #333333;
    @extend %font14;
    border-radius: 24px;
    height: 45px;
    border: none;
    margin: 0 auto;
    display: block;
	letter-spacing: 2px;
  }
}

.centerContact {
  @extend %contactDesign;
  &.blueBtn{
    .wpcf7-submit{
      background: $themeColor;
    }
  }
}

.aproposContactRow {
  .vc_column-inner {
    padding-top: 0px !important;
  }
}

.aproposContact {
  /*background: rgba(51, 51, 51, 0.7);*/
  .wpcf7 {
    width: 80%;
  }
  @extend %contactDesign;
  .wpcf7-submit {
    background: $themeColor;
    width: 280px;
    margin: 0px;
    height: auto;
    padding: 20px;
  }
}

.contactBlueBtn{

  @extend %contactDesign;
  .wpcf7-submit {
    background: $themeColor;
    width: 200px;
    margin: 0px;
  }
}

.authorOverFlow {
  overflow: initial !important;
}

.btntheme {
  a, input[type="submit"] {
    text-transform: uppercase;
    background-color: $themeColor !important;
    border-radius: 44px !important;
    color: #fff;
    letter-spacing: 2px;
	font-weight: 500;
	padding: 14px 45px !important;
  }
}

.noPaddingVC{
  .vc_column-inner {
    padding-top: 0px !important;
  }
}

.infoletter {
  color: #fff;
  min-height: 450px !important;
  p {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }
  .vc_column-inner {
    padding-top: 0px !important;
  }
  .formBox {
    input[type="email"] {
      border-radius: 6px;
      margin-right: 20px;
      width: 400px;
	  padding:13px 0 13px 20px;
	  font-style:normal;
    }
    input[type="submit"] {
      font-weight: bold;
      border-width: 0px;
	  padding:14px 25px !important;
    }
    display: flex;
    justify-content: center;
  }
}

.blogBlock {
  .vc_grid.vc_row.vc_grid-gutter-30px .vc_pageable-slide-wrapper {
    margin-right: 0px !important;
  }
  .vc_pageable-slide-wrapper {

    > p {
      display: none;
    }
  }
  .vc_grid-item {
    padding-right: 0px !important;
    font-family: "PT Serif";
    .vc_gitem-animated-block {
      .vc_gitem-zone {
        border-radius: 100%;

        margin: 0 auto;
      }
    }
    .vc_gitem-post-data-source-post_title {
      font-weight: bold;
      @extend %font18;
      text-transform: uppercase;
    }
    .vc_gitem-post-data-source-post_excerpt {
      @extend %font18;
    }
    .vc_gitem-post-data-source-post_author {
      @extend %font16;
      color: #5586b0;
    }
    .vc_gitem-post-data-source-post_date {
      @extend %font16;
      color: #5586b0;
    }
    .vc_gitem-link {
      @extend %font14;
      font-family: Montserrat;
    }
  }
}

.single-post {
  .vc_row.paddingContent{
    margin: 0px;
  }
  .entry-title{
    font-family: "PT Serif";
    text-transform: uppercase;
    @extend %font24;
  }
  .entry-meta{
    > span{
      display: block;
      color: $themeColor;
	  a{
      color: $themeColor;
	  text-decoration:none;
	  }
    }
    padding-bottom: 10px;
  }
  .widget-area{
    .widget-title{
      @extend %font20;
      text-transform: uppercase;
      font-weight: bold;
      padding: 0 0 30px 0px;
	  margin:0;
    }
    .widget_categories{

      ul{
        margin: 0px;
        list-style: none;
        padding-left: 10px;
        li{
          position: relative;
          &:before{
            position: absolute;
            top:15px;
            left: -21px;
            content: ">";
            color: $themeColor;
          }
          a{
            text-decoration: none;
            color:#333;
			padding:15px 0;
			display:inline-block;
			width:87%;
          }
          padding-bottom: 5px;
          border-bottom: 1px #adadad solid;
          display: block;
        }
      }
    }
.recent-posts-widget-with-thumbnails{
	margin-top:70px;
}
    .rpwwt-widget{
      .widget-title{
        border-bottom: 1px solid #adadad;
        margin: 0px;
        padding-bottom: 10px;
      }
        .wp-post-image{
          border-radius: 100%;
        }
        .rpwwt-post-title{
          @extend %font16;

        }
      a{
        text-decoration: none;
        color:#333;
		display:table;
		span{
			display:table-cell;
			vertical-align:middle;
			width:75%;
		}
      }
      li{
        padding: 10px 0px;
        border-bottom: 1px solid #adadad;
        margin: 0px;
      }
    }
  }
  .comments-area{
    .submit{
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      background: #618eb5;
      @extend %font14;
      border-radius: 4px;
      height: 45px;
      border: none;
    }
    input:not([type="submit"]){
      width: 100%;
    }
  }
}

.footerPage {
  min-height: calc(480vw / 20);
  background-color: $themeColor;
  color: #fff;
  p {
    margin-top: 0px !important;
  }
  .widget_nav_menu > div > ul {
    @extend %font16;
    list-style: none;
    padding: 0px;
    margin: 0px;
    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #d5d5d5;
      }
    }
  }
  .addressAndLink {
    @extend %font14;
    .wpb_text_column {
      margin-bottom: 10px;
    }
    .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {

    }

    .vc_icon_element {
      display: inline-block;
    }
  }
  .contactFooter {
    .title {
      @extend %font16;
      margin-bottom: 10px !important;
    }
    input[type=email] {
      width: 100%;
	  border-radius: 6px;
      padding: 13px 0 13px 20px;
	  font-style: normal;
    }
    input[type="submit"] {
      margin-top: 10px;
      background-color: #333333 !important;
      border-width: 0px;
      padding: 9px 19px;
    }
  }
  .belowFooterText {
    @extend %font14;
  }
}

.admin-bar{
  .topHeader{
    top: 35px;
  }
}
.topHeader{
    a[href*="facebook"]{
    font-size: 0px !important;
    font-family: FontAwesome;
	font-weight:normal;
	line-height:0.5;
	margin-left:25px;
    &:before{
      font-size: 25px;
      content: "\f09a";
    }
  }
  a[href*="twitter"]{

    font-size: 0px !important;
    font-family: FontAwesome;
	font-weight:normal;
	line-height:0.5;
    &:before{
      font-size: 25px;
      content: "\f099";
    }
  }
  a[href*="linkedin"]{

    font-size: 0px !important;
    font-family: FontAwesome;
	font-weight:normal;
	line-height:0.5;
    &:before{

      font-size: 25px;
      content: "\f0e1";
    }
  }
}

article{
  &.hentry{
    margin-bottom:0px ;
  }
}
@media (min-width: 768px) {
.vc_images_carousel .vc_carousel-indicators {
    bottom: 35px !important;
}
}

#socialmedia-menu{
		float:right;
		margin-bottom:15px;
		li a{
		color:#608eb5;
		}
}


#top-menu 
{
	float:right;
	width:100%;
	text-align:right;
	li {
		float:none;
		a{
		color:#608eb5;
		font-size: 16px;
		font-weight:600;
		text-transform:uppercase;
		}
 	 }
}
.current_page_item a {
	color: #608eb5;
	font-weight:600;
}
.blogBlock p,.blogBlock h4{
	margin-bottom:0;
}
.blogBlock .vc_grid.vc_row .vc_grid-item .wpb_content_element {
    margin-bottom: 0;
}
.blogBlock .vc_separator.vc_sep_color_grey .vc_sep_line{
	border-color:#999999;
}
.blogBlock .vc_gitem_row .vc_gitem-col {
    padding: 25px;
}
.infop{
	font-family: "PT Serif";
	color:#b8b8b8;
}
footer .vc_sep_line{
	border-top: 2px solid #fff !important;
	height:2px;
}
footer .vc_separator{
	margin-bottom:20px;
}
.margin90{
	margin-top: 90px;
}
.imageapropos p{
	width:120%;
}
.footertext{
	width: 95%;
    margin: 0 auto;
    line-height: 1.2;
}
.bgris{
	width: 120%; 
	height: 155px; 
	margin-left: -15px; 
	background-color: #333333;
	color:#fff;
	-webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#linksTabs,#linksTabs2,#linksTabs3{
		a{
			color:#333333;
			font-weight:400;
			cursor:pointer;
			font-size:18px;
		}
		a:hover, .active{
			color:#5586b0;
			font-weight:bold;
		}
}
#linksTabsContent,#linksTabsContent2,#linksTabsContent3{
	p{
		font-size:18px;
	}
}

.bordreblog .vc_grid-item-mini {
	padding:10px 0;
	margin:0 10px;
	border:solid 1px #999;
} 
.menu-item-language-current a, .menu-item-language a:hover {
	color:#608eb5;
}
.main-navigation ul > .menu-item-language ~ .menu-item-language{
	padding-left:0 !important;
	a::before{
	content:" ";
	width:2px;
	border-left:2px solid #333;
	padding-right:10px;
	}
}
