$max-mobile:768px;
$max-mobile425:425px;
.overflowHiddenTemp{
  overflow: hidden;
}
.coverWindow {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
  transition: 0.8s all;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  &.coverUp {
    opacity: 1;
    background-color: #fff;
  }
  .holdingImage {
    height: calc(316vw / 20);
    width: calc(554vw / 20);
    overflow: hidden;
    transition: .5s all;
    &.removeLogo {
      width: calc(394vw / 20);
    }
    .loading {
      float: right;
      background-image: url(/wp-content/themes/Skeleton-Theme/img/page-loader_x.png);
      background-size: contain;
      height: calc(316vw / 20);
      width: calc(554vw / 20);
      @media (max-width: $max-mobile425) {
        height: 71.56vw;
        img {
          width: 37.54vw;
        }
        margin-left: 19.5vw;
      }
      .bar {
        width: 2.5vw;
        height: 4px;
        border-radius: 1px;
        position: relative;
        left: 2.65vw;
        z-index: 6;
        top: 12.85vw;
        @media (max-width: $max-mobile425) {
          width: calc(2.5vw * 5.46);
          top: calc(5.75vw * 5.46);
          left: calc(-4.75vw * 5.46);
        }
        .progress {
          width: 100%;
          background-color: #818285;
          height: 0.2vw;
          animation: loadingBar 1s;
          transition: .3s all;
          animation-iteration-count: infinite;
          @media (max-width: $max-mobile425) {
            height: 4px;
          }
        }
      }
      img {
        box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.37);
      }
      &.en{

        background-image: url(/wp-content/themes/Skeleton-Theme/img/page-loader-en.png);
      }
    }
    @media (max-width: $max-mobile425) {
      height: calc(316vw / 3.2);
      width: calc(84vw / 3.2);
      .loading {
        height: 52.56vw;
        background-size: cover;
        .bar {
          width: calc(2.5vw * 5.46);
          top: calc(7.75vw * 5.46);
          left: calc(1.25vw * 5.46);
        }
      }
    }
  }
}