.overflowHiddenTemp {
  overflow: hidden; }

.coverWindow {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
  transition: 0.8s all;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; }
  .coverWindow.coverUp {
    opacity: 1;
    background-color: #fff; }
  .coverWindow .holdingImage {
    height: calc(316vw / 20);
    width: calc(554vw / 20);
    overflow: hidden;
    transition: .5s all; }
    .coverWindow .holdingImage.removeLogo {
      width: calc(394vw / 20); }
    .coverWindow .holdingImage .loading {
      float: right;
      background-image: url(/wp-content/themes/Skeleton-Theme/img/page-loader_x.png);
      background-size: contain;
      height: calc(316vw / 20);
      width: calc(554vw / 20); }
      @media (max-width: 425px) {
        .coverWindow .holdingImage .loading {
          height: 71.56vw;
          margin-left: 19.5vw; }
          .coverWindow .holdingImage .loading img {
            width: 37.54vw; } }
      .coverWindow .holdingImage .loading .bar {
        width: 2.5vw;
        height: 4px;
        border-radius: 1px;
        position: relative;
        left: 2.65vw;
        z-index: 6;
        top: 12.85vw; }
        @media (max-width: 425px) {
          .coverWindow .holdingImage .loading .bar {
            width: calc(2.5vw * 5.46);
            top: calc(5.75vw * 5.46);
            left: calc(-4.75vw * 5.46); } }
        .coverWindow .holdingImage .loading .bar .progress {
          width: 100%;
          background-color: #818285;
          height: 0.2vw;
          animation: loadingBar 1s;
          transition: .3s all;
          animation-iteration-count: infinite; }
          @media (max-width: 425px) {
            .coverWindow .holdingImage .loading .bar .progress {
              height: 4px; } }
      .coverWindow .holdingImage .loading img {
        box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.37); }
      .coverWindow .holdingImage .loading.en {
        background-image: url(/wp-content/themes/Skeleton-Theme/img/page-loader-en.png); }
    @media (max-width: 425px) {
      .coverWindow .holdingImage {
        height: calc(316vw / 3.2);
        width: calc(84vw / 3.2); }
        .coverWindow .holdingImage .loading {
          height: 52.56vw;
          background-size: cover; }
          .coverWindow .holdingImage .loading .bar {
            width: calc(2.5vw * 5.46);
            top: calc(7.75vw * 5.46);
            left: calc(1.25vw * 5.46); } }

/*# sourceMappingURL=light_css.css.map */
