//colors
$color_tundora_approx: #444;
$color_tuatara_approx: #363636;
$color_mine_shaft_approx: #333;
$color_alto_approx: #ddd;
$white: #fff;
$color_shark_approx: #262626;
$color_fuscous_gray_approx: #555;
$color_lima_approx: #7dcfd6;
$color_la_palma_approx: #7dcfd6;
$color_mountain_mist_15_approx: rgba(150, 150, 150, 0.15);

//fonts
$font_1: sans-serif;

//@extend-elements
//original selectors
//#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile
%extend_1 {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}

//original selectors
//#cssmenu:after, #cssmenu >ul:after
%extend_2 {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
@font-face {
  font-family: Compton;
  font-weight: light;
  src: url('/wp-content/themes/Skeleton-Theme/outside_components/campton/campton-light.otf') format('opentype');
}
.headerMobile {
  position: fixed;
  width: 100%;
  z-index: 2;
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  nav {
    position: relative;
    width: 980px;
    margin: 0 auto;
  }
  &.open{
    height: 100%;
    background: #4c4c4c;
  }
  .sidebarMenuIcon{
    background-color: #7dcfd6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    > a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-left: #fff solid 1px;
      &:first-child{
        border:none;
      }
    }
    .centerimg{
      background-size: contain;
      height: 36px;
      width: 36px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .icon1 {
      background-image: url(/wp-content/uploads/2017/10/icon_1x_03.png);
    }
    .icon2{
      background-image: url(/wp-content/uploads/2017/10/icon_x2_03.png);
    }
    .icon3{
      background-image: url(/wp-content/uploads/2017/10/icon_3x_03.png);
    }
    .icon4{
      background-image: url(/wp-content/uploads/2017/10/icon_4x_03.png);
    }
    .icon5{
      background-image: url(/wp-content/uploads/2017/10/icon_x5_03.png);
    }
  }
}

#cssmenu {
  z-index: 1;
  .logo {
    background: #4c4c4c;
    position: relative;
    z-index: 123;
    display: flex;
    justify-content: center;
    .logobg{
     background-image: url(/wp-content/themes/Skeleton-Theme/img/menu_mobile_logo_02.jpg);
      width:115px;
      height:115px;
    }
    &.hide{
      display: none;
    }
  }

  font-family: 'Compton';
  font-weight: light;
  font-size: 25px;
  @extend %extend_1;
  .ulMenu{

    ul {
      @extend %extend_1;
      li {
        @extend %extend_1;
        a {
          @extend %extend_1;
        }
        &.active {
          background: $color_la_palma_approx !important;
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: background .3s ease;
          a {
            color: $white;
          }
          &:hover {
            background: $color_la_palma_approx !important;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: background .3s ease;
          }
        }
        &.has-sub {
          &.active:hover {
            background: $color_la_palma_approx !important;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: background .3s ease;
          }
          ul li.has-sub ul li:hover {
            background: $color_tuatara_approx;
          }
        }
      }
      ul {
        position: absolute;
        left: -9999px;
        li {
          height: 0;
          background: $color_mine_shaft_approx;
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: all .25s ease;
          a {
            border-bottom: 1px solid $color_mountain_mist_15_approx;
            padding: 11px 15px;
            width: 170px;
            font-size: 14px;
            text-decoration: none;
            color: $color_alto_approx;
            font-weight: 400;
            &:hover {
              color: $white;
            }
          }
          &.has-sub {
            > a {
              &:after {
                position: absolute;
                top: 16px;
                right: 11px;
                width: 8px;
                height: 2px;
                display: block;
                background: $color_alto_approx;
                content: '';
              }
              &:before {
                position: absolute;
                top: 13px;
                right: 14px;
                display: block;
                width: 2px;
                height: 8px;
                background: $color_alto_approx;
                content: '';
                //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                transition: all .25s ease;
              }
            }
            &:hover {
              background: $color_tuatara_approx;
            }
          }
          &:hover > a {
            color: $white;
          }
          &:last-child > a {
            border-bottom: 0;
          }
          &.last-item > a {
            border-bottom: 0;
          }
        }
        ul {
          margin-left: 100%;
          top: 0;
          li.active a {
            border-left: 1px solid $color_mine_shaft_approx;
          }
        }
        > li.has-sub:hover > a:before {
          top: 17px;
          height: 0;
        }
      }

    }
    &:after {
      @extend %extend_2;
    }
    > ul {
      &:after {
        @extend %extend_2;
      }
      > li {
        float: left;
        > a {
          padding: 17px;
          font-size: 12px;
          letter-spacing: 1px;
          text-decoration: none;
          color: $color_alto_approx;
          font-weight: lighter;
        }
        &:hover {
          background: $color_la_palma_approx !important;
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: background .3s ease;
          > a {
            color: $white;
          }
        }
        &.has-sub {
          > a {
            padding-right: 30px;
            &:after {
              position: absolute;
              top: 22px;
              right: 11px;
              width: 8px;
              height: 2px;
              display: block;
              background: $color_alto_approx;
              content: '';
            }
            &:before {
              position: absolute;
              top: 19px;
              right: 14px;
              display: block;
              width: 2px;
              height: 8px;
              background: $color_alto_approx;
              content: '';
              //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
              transition: all .25s ease;
            }
          }
          &:hover > a:before {
            top: 23px;
            height: 0;
          }
          > ul > li.active > a {
            border-top: 1px solid $color_mine_shaft_approx;
          }
        }
      }
      ul > li.has-sub > ul > li.active > a {
        border-top: 1px solid $color_mine_shaft_approx;
      }
    }
    li:hover > ul {
      left: auto;
      > li {
        height: 35px;
      }
    }
    ul li a{
      font-size: lighten!important;
    }
  }
}

@media screen and(max-width: 1000px) {
  #cssmenu {
    height: 100%;
    .logo {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      float: none;
    }
    width: 100%;

    .button {
      width: 55px;
      height: 46px;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      z-index: 12399994;
      color:#4c4c4c;
      border:none;
      &:after {
        position: absolute;
        top: 23px;
        right: 20px;
        display: block;
        height: 4px;
        width: 30px;
        border-top: 3px solid #d51f2d;
        border-bottom: 3px solid #d51f2d;
        content: '';
      }
      &:before {
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all .3s ease;
        position: absolute;
        top: 16px;
        right: 20px;
        display: block;
        height: 3px;
        width: 30px;
        background: #d51f2d;
        content: '';
      }
      &.menu-opened {
        &:after {
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: all .3s ease;
          top: 23px;
          border: 0;
          height: 2px;
          width: 19px;
          background: $white;
          //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
          transform: rotate(45deg);
        }
        &:before {
          top: 23px;
          background: $white;
          width: 19px;
          //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
          transform: rotate(-45deg);
        }
      }
    }
    .ulMenu{
      display: flex;
      align-items: center;
      height: calc(100% - 175px);
      ul {
        background: #4c4c4c;
        width: 100%;
        display: none;
        li {
          width: 100%;
          border-top: 1px solid #fff;
          &:hover {
            background: $color_tuatara_approx;
          }
          a {
            font-size: 25px;
            font-weight: 400;
            text-align: center;
            width: 100%;
            border-bottom: 0;
          }
        }
        ul {
          position: relative;
          left: 0;
          width: 100%;
          margin: 0;
          text-align: left;
          li {
            height: auto;
            background: $color_mine_shaft_approx !important;
            a {
              width: 100%;
              border-bottom: 0;
              padding-left: 25px;
              color: $color_alto_approx;
              background: none;
            }
            &:hover {
              background: $color_tuatara_approx !important;
              > a {
                color: $white;
              }
            }
            &.active > a {
              color: $white;
            }
          }
          ul {
            position: relative;
            left: 0;
            width: 100%;
            margin: 0;
            text-align: left;
            li {
              a {
                padding-left: 35px;
              }
              &.active a {
                border-left: none;
              }
            }
          }
          .submenu-button {
            height: 37px;
            width: 44px;
            &:after {
              top: 15px;
              right: 19px;
            }
            &:before {
              top: 12px;
              right: 22px;
            }
          }
          > li.has-sub > a {
            &:after {
              display: none;
            }
            &:before {
              display: none;
            }
          }
        }
      }
      > ul {
        overflow-x: scroll;
        height: 380px;
        > li {
          float: none;
          &.has-sub {
            > a {
              &:after {
                display: none;
              }
              &:before {
                display: none;
              }
            }
            > ul > li.active > a {
              border-top: none;
            }
          }
          &:last-child{
            border-bottom: #fff solid 1px;
          }
        }
        ul > li.has-sub > ul > li.active > a {
          border-top: none;
        }
      }
      .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid $color_tundora_approx;
        height: 60px;
        width: 46px;
        cursor: pointer;
        &.submenu-opened {
          background: $color_shark_approx;
          &:after {
            background: $white;
          }
          &:before {
            display: none;
          }
        }
        &:after {
          position: absolute;
          top: 31px;
          right: 19px;
          width: 8px;
          height: 2px;
          display: block;
          background: $color_alto_approx;
          content: '';
        }
        &:before {
          position: absolute;
          top: 28px;
          right: 22px;
          display: block;
          width: 2px;
          height: 8px;
          background: $color_alto_approx;
          content: '';
        }
      }
      li:hover > ul > li {
        height: auto;
      }
      .dropdown-content > .dropdown > .dropdown-content{
        width: 100%!important;
      }
    }
  }
}