#cssmenu, #cssmenu .ulMenu ul, #cssmenu .ulMenu ul li, #cssmenu .ulMenu ul li a {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box; }

#cssmenu .ulMenu:after, #cssmenu .ulMenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

@font-face {
  font-family: Compton;
  font-weight: light;
  src: url("/wp-content/themes/Skeleton-Theme/outside_components/campton/campton-light.otf") format("opentype"); }
.headerMobile {
  position: fixed;
  width: 100%;
  z-index: 2; }
  .headerMobile * {
    margin: 0;
    padding: 0;
    text-decoration: none; }
  .headerMobile nav {
    position: relative;
    width: 980px;
    margin: 0 auto; }
  .headerMobile.open {
    height: 100%;
    background: #4c4c4c; }
  .headerMobile .sidebarMenuIcon {
    background-color: #7dcfd6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%; }
    .headerMobile .sidebarMenuIcon > a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-left: #fff solid 1px; }
      .headerMobile .sidebarMenuIcon > a:first-child {
        border: none; }
    .headerMobile .sidebarMenuIcon .centerimg {
      background-size: contain;
      height: 36px;
      width: 36px;
      background-repeat: no-repeat;
      background-position: center; }
    .headerMobile .sidebarMenuIcon .icon1 {
      background-image: url(/wp-content/uploads/2017/10/icon_1x_03.png); }
    .headerMobile .sidebarMenuIcon .icon2 {
      background-image: url(/wp-content/uploads/2017/10/icon_x2_03.png); }
    .headerMobile .sidebarMenuIcon .icon3 {
      background-image: url(/wp-content/uploads/2017/10/icon_3x_03.png); }
    .headerMobile .sidebarMenuIcon .icon4 {
      background-image: url(/wp-content/uploads/2017/10/icon_4x_03.png); }
    .headerMobile .sidebarMenuIcon .icon5 {
      background-image: url(/wp-content/uploads/2017/10/icon_x5_03.png); }

#cssmenu {
  z-index: 1;
  font-family: 'Compton';
  font-weight: light;
  font-size: 25px; }
  #cssmenu .logo {
    background: #4c4c4c;
    position: relative;
    z-index: 123;
    display: flex;
    justify-content: center; }
    #cssmenu .logo .logobg {
      background-image: url(/wp-content/themes/Skeleton-Theme/img/menu_mobile_logo_02.jpg);
      width: 115px;
      height: 115px; }
    #cssmenu .logo.hide {
      display: none; }
  #cssmenu .ulMenu ul li.active {
    background: #7dcfd6 !important;
    transition: background .3s ease; }
    #cssmenu .ulMenu ul li.active a {
      color: #fff; }
    #cssmenu .ulMenu ul li.active:hover {
      background: #7dcfd6 !important;
      transition: background .3s ease; }
  #cssmenu .ulMenu ul li.has-sub.active:hover {
    background: #7dcfd6 !important;
    transition: background .3s ease; }
  #cssmenu .ulMenu ul li.has-sub ul li.has-sub ul li:hover {
    background: #363636; }
  #cssmenu .ulMenu ul ul {
    position: absolute;
    left: -9999px; }
    #cssmenu .ulMenu ul ul li {
      height: 0;
      background: #333;
      transition: all .25s ease; }
      #cssmenu .ulMenu ul ul li a {
        border-bottom: 1px solid rgba(150, 150, 150, 0.15);
        padding: 11px 15px;
        width: 170px;
        font-size: 14px;
        text-decoration: none;
        color: #ddd;
        font-weight: 400; }
        #cssmenu .ulMenu ul ul li a:hover {
          color: #fff; }
      #cssmenu .ulMenu ul ul li.has-sub > a:after {
        position: absolute;
        top: 16px;
        right: 11px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''; }
      #cssmenu .ulMenu ul ul li.has-sub > a:before {
        position: absolute;
        top: 13px;
        right: 14px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: '';
        transition: all .25s ease; }
      #cssmenu .ulMenu ul ul li.has-sub:hover {
        background: #363636; }
      #cssmenu .ulMenu ul ul li:hover > a {
        color: #fff; }
      #cssmenu .ulMenu ul ul li:last-child > a {
        border-bottom: 0; }
      #cssmenu .ulMenu ul ul li.last-item > a {
        border-bottom: 0; }
    #cssmenu .ulMenu ul ul ul {
      margin-left: 100%;
      top: 0; }
      #cssmenu .ulMenu ul ul ul li.active a {
        border-left: 1px solid #333; }
    #cssmenu .ulMenu ul ul > li.has-sub:hover > a:before {
      top: 17px;
      height: 0; }
  #cssmenu .ulMenu > ul > li {
    float: left; }
    #cssmenu .ulMenu > ul > li > a {
      padding: 17px;
      font-size: 12px;
      letter-spacing: 1px;
      text-decoration: none;
      color: #ddd;
      font-weight: lighter; }
    #cssmenu .ulMenu > ul > li:hover {
      background: #7dcfd6 !important;
      transition: background .3s ease; }
      #cssmenu .ulMenu > ul > li:hover > a {
        color: #fff; }
    #cssmenu .ulMenu > ul > li.has-sub > a {
      padding-right: 30px; }
      #cssmenu .ulMenu > ul > li.has-sub > a:after {
        position: absolute;
        top: 22px;
        right: 11px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''; }
      #cssmenu .ulMenu > ul > li.has-sub > a:before {
        position: absolute;
        top: 19px;
        right: 14px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: '';
        transition: all .25s ease; }
    #cssmenu .ulMenu > ul > li.has-sub:hover > a:before {
      top: 23px;
      height: 0; }
    #cssmenu .ulMenu > ul > li.has-sub > ul > li.active > a {
      border-top: 1px solid #333; }
  #cssmenu .ulMenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: 1px solid #333; }
  #cssmenu .ulMenu li:hover > ul {
    left: auto; }
    #cssmenu .ulMenu li:hover > ul > li {
      height: 35px; }
  #cssmenu .ulMenu ul li a {
    font-size: lighten !important; }

@media screen and (max-width: 1000px) {
  #cssmenu {
    height: 100%;
    width: 100%; }
    #cssmenu .logo {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      float: none; }
    #cssmenu .button {
      width: 55px;
      height: 46px;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      z-index: 12399994;
      color: #4c4c4c;
      border: none; }
      #cssmenu .button:after {
        position: absolute;
        top: 23px;
        right: 20px;
        display: block;
        height: 4px;
        width: 30px;
        border-top: 3px solid #d51f2d;
        border-bottom: 3px solid #d51f2d;
        content: ''; }
      #cssmenu .button:before {
        transition: all .3s ease;
        position: absolute;
        top: 16px;
        right: 20px;
        display: block;
        height: 3px;
        width: 30px;
        background: #d51f2d;
        content: ''; }
      #cssmenu .button.menu-opened:after {
        transition: all .3s ease;
        top: 23px;
        border: 0;
        height: 2px;
        width: 19px;
        background: #fff;
        transform: rotate(45deg); }
      #cssmenu .button.menu-opened:before {
        top: 23px;
        background: #fff;
        width: 19px;
        transform: rotate(-45deg); }
    #cssmenu .ulMenu {
      display: flex;
      align-items: center;
      height: calc(100% - 175px); }
      #cssmenu .ulMenu ul {
        background: #4c4c4c;
        width: 100%;
        display: none; }
        #cssmenu .ulMenu ul li {
          width: 100%;
          border-top: 1px solid #fff; }
          #cssmenu .ulMenu ul li:hover {
            background: #363636; }
          #cssmenu .ulMenu ul li a {
            font-size: 25px;
            font-weight: 400;
            text-align: center;
            width: 100%;
            border-bottom: 0; }
        #cssmenu .ulMenu ul ul {
          position: relative;
          left: 0;
          width: 100%;
          margin: 0;
          text-align: left; }
          #cssmenu .ulMenu ul ul li {
            height: auto;
            background: #333 !important; }
            #cssmenu .ulMenu ul ul li a {
              width: 100%;
              border-bottom: 0;
              padding-left: 25px;
              color: #ddd;
              background: none; }
            #cssmenu .ulMenu ul ul li:hover {
              background: #363636 !important; }
              #cssmenu .ulMenu ul ul li:hover > a {
                color: #fff; }
            #cssmenu .ulMenu ul ul li.active > a {
              color: #fff; }
          #cssmenu .ulMenu ul ul ul {
            position: relative;
            left: 0;
            width: 100%;
            margin: 0;
            text-align: left; }
            #cssmenu .ulMenu ul ul ul li a {
              padding-left: 35px; }
            #cssmenu .ulMenu ul ul ul li.active a {
              border-left: none; }
          #cssmenu .ulMenu ul ul .submenu-button {
            height: 37px;
            width: 44px; }
            #cssmenu .ulMenu ul ul .submenu-button:after {
              top: 15px;
              right: 19px; }
            #cssmenu .ulMenu ul ul .submenu-button:before {
              top: 12px;
              right: 22px; }
          #cssmenu .ulMenu ul ul > li.has-sub > a:after {
            display: none; }
          #cssmenu .ulMenu ul ul > li.has-sub > a:before {
            display: none; }
      #cssmenu .ulMenu > ul {
        overflow-x: scroll;
        height: 380px; }
        #cssmenu .ulMenu > ul > li {
          float: none; }
          #cssmenu .ulMenu > ul > li.has-sub > a:after {
            display: none; }
          #cssmenu .ulMenu > ul > li.has-sub > a:before {
            display: none; }
          #cssmenu .ulMenu > ul > li.has-sub > ul > li.active > a {
            border-top: none; }
          #cssmenu .ulMenu > ul > li:last-child {
            border-bottom: #fff solid 1px; }
        #cssmenu .ulMenu > ul ul > li.has-sub > ul > li.active > a {
          border-top: none; }
      #cssmenu .ulMenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #444;
        height: 60px;
        width: 46px;
        cursor: pointer; }
        #cssmenu .ulMenu .submenu-button.submenu-opened {
          background: #262626; }
          #cssmenu .ulMenu .submenu-button.submenu-opened:after {
            background: #fff; }
          #cssmenu .ulMenu .submenu-button.submenu-opened:before {
            display: none; }
        #cssmenu .ulMenu .submenu-button:after {
          position: absolute;
          top: 31px;
          right: 19px;
          width: 8px;
          height: 2px;
          display: block;
          background: #ddd;
          content: ''; }
        #cssmenu .ulMenu .submenu-button:before {
          position: absolute;
          top: 28px;
          right: 22px;
          display: block;
          width: 2px;
          height: 8px;
          background: #ddd;
          content: ''; }
      #cssmenu .ulMenu li:hover > ul > li {
        height: auto; }
      #cssmenu .ulMenu .dropdown-content > .dropdown > .dropdown-content {
        width: 100% !important; } }

/*# sourceMappingURL=style.css.map */
