/*!
Theme Name: sukll
Theme URI: http://underscores.me/
Author: mohamed amine hamza
Author URI: http://viruscomm.ca
Description: sukll theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: sukll
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

sukll is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa; }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111; }

select {
  border: 1px solid #ccc; }

textarea {
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue; }
  a:visited {
    color: purple; }
  a:hover, a:focus, a:active {
    color: midnightblue; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.site-header {
  display: flex;
  align-items: flex-end; }

.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }
  .main-navigation .menu-primary-container {
    float: right; }
    .main-navigation .menu-primary-container > ul > li > a {
      padding-bottom: 44px; }
  .main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      left: -999em;
      z-index: 99999;
      background: rgba(96, 142, 181, 0.6);
      padding: 50px 200px; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
        left: 100%; }
      .main-navigation ul ul a {
        color: #fff; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: 0px;
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      .main-navigation ul li:hover > ul > li,
      .main-navigation ul li.focus > ul > li {
        text-transform: uppercase;
        flex-grow: 1;
        width: 33%; }
        .main-navigation ul li:hover > ul > li:nth-child(1),
        .main-navigation ul li.focus > ul > li:nth-child(1) {
          width: 100%;
          font-weight: bold;
          border-bottom: 1px #fff solid;
          padding-bottom: 25px;
          margin-bottom: 25px; }
        .main-navigation ul li:hover > ul > li:nth-child(3n+1),
        .main-navigation ul li.focus > ul > li:nth-child(3n+1) {
          text-align: right; }
        .main-navigation ul li:hover > ul > li:nth-child(3n),
        .main-navigation ul li.focus > ul > li:nth-child(3n) {
          text-align: center; }
        .main-navigation ul li:hover > ul > li:nth-child(1),
        .main-navigation ul li.focus > ul > li:nth-child(1) {
          text-align: left; }
  .main-navigation li {
    float: left; }
  .main-navigation a {
    font-size: 20px;
    font-family: Montserrat;
    display: block;
    text-decoration: none;
    color: #333333; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: block; } }
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
  float: left;
  width: 50%; }
.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------*/
body {
  font-family: Montserrat;
  color: #333333; }

.lightColor {
  color: rgba(51, 51, 51, 0.8); }

.page-content, .entry-content, .entry-summary {
  margin: 0px; }

@media (max-width: 425px) {
  .font40 {
    font-size: calc(40vw / 4); }

  .font30 {
    font-size: calc(30vw / 4); }

  .font24, .single-post .entry-title {
    font-size: calc(24vw / 4); }

  .font20, .main-navigation a, .single-post .widget-area .widget-title {
    font-size: calc(20vw / 4); }

  .main-navigation ul li:hover > ul > li:nth-child(1),
  .main-navigation ul li.focus > ul > li:nth-child(1), .font18, .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_title, .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_excerpt {
    font-size: calc(18vw / 4); }

  .main-navigation .sub-menu a, .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_author, .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_date, .single-post .widget-area .rpwwt-widget .rpwwt-post-title, .footerPage .widget_nav_menu > div > ul, .footerPage .contactFooter .title {
    font-size: calc(16vw / 4); }

  .centerContact .wpcf7-submit, .aproposContact .wpcf7-submit, .contactBlueBtn .wpcf7-submit, .blogBlock .vc_grid-item .vc_gitem-link, .single-post .comments-area .submit, .footerPage .addressAndLink, .footerPage .belowFooterText {
    font-size: calc(14vw / 4); }

  .footerPage .addressAndLink .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
    font-size: calc(22vw / 4) !important; }

  .footerPage .addressAndLink .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    width: calc(30vw / 4);
    height: calc(30vw / 4); }

  .footerPage {
    padding: calc(70vw / 20) calc(125vw / 20) !important; }

  .titleCover {
    top: calc(-176vw / 4); }
    .titleCover .title {
      font-size: calc(16vw / 4); }
    .titleCover .description {
      font-size: calc(11vw / 4); }

  .ressoucesRight.wpb_text_column.wpb_content_element {
    padding-left: 0px !important;
    border-left: 0px !important; }
  .ressoucesRight p {
    text-align: center !important; }

  .ressoucesLeft p {
    text-align: center !important; } }
@media (min-width: 426px) and (max-width: 767px) {
  .font40 {
    font-size: calc(40vw / 7); }

  .font30 {
    font-size: calc(30vw / 7); }

  .font24, .single-post .entry-title {
    font-size: calc(24vw / 7); }

  .font20, .main-navigation a, .single-post .widget-area .widget-title {
    font-size: calc(20vw / 7); }

  .main-navigation ul li:hover > ul > li:nth-child(1),
  .main-navigation ul li.focus > ul > li:nth-child(1), .font18, .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_title, .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_excerpt {
    font-size: calc(18vw / 7); }

  .main-navigation .sub-menu a, .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_author, .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_date, .single-post .widget-area .rpwwt-widget .rpwwt-post-title, .footerPage .widget_nav_menu > div > ul, .footerPage .contactFooter .title {
    font-size: calc(16vw / 7); }

  .centerContact .wpcf7-submit, .aproposContact .wpcf7-submit, .contactBlueBtn .wpcf7-submit, .blogBlock .vc_grid-item .vc_gitem-link, .single-post .comments-area .submit, .footerPage .addressAndLink, .footerPage .belowFooterText {
    font-size: calc(14vw / 7); }

  .footerPage .addressAndLink .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
    font-size: calc(22vw / 7) !important; }

  .footerPage .addressAndLink .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    width: calc(30vw / 7);
    height: calc(30vw / 7); }

  .footerPage {
    padding: calc(70vw / 20) calc(125vw / 20) !important; }

  .titleCover {
    top: calc(-420vw / 13); }
    .titleCover .title {
      font-size: calc(40vw / 13); }
    .titleCover .description {
      font-size: calc(24vw / 13); }

  .paddingContent {
    padding: 20px 20px; }

  .ressoucesRight.wpb_text_column.wpb_content_element {
    padding-left: 0px !important;
    border-left: 0px !important; }
  .ressoucesRight p {
    text-align: center !important; }

  .ressoucesLeft p {
    text-align: center !important; } }
@media (max-width: 1366px) and (min-width: 768px) {
  .font40 {
    font-size: calc(40vw / 13); }

  .font30 {
    font-size: calc(30vw / 13); }

  .font24, .single-post .entry-title {
    font-size: calc(24vw / 13); }

  .font20, .main-navigation a, .single-post .widget-area .widget-title {
    font-size: calc(20vw / 13); }

  .main-navigation ul li:hover > ul > li:nth-child(1),
  .main-navigation ul li.focus > ul > li:nth-child(1), .font18, .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_title, .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_excerpt {
    font-size: calc(18vw / 13); }

  .main-navigation .sub-menu a, .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_author, .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_date, .single-post .widget-area .rpwwt-widget .rpwwt-post-title, .footerPage .widget_nav_menu > div > ul, .footerPage .contactFooter .title {
    font-size: calc(16vw / 13); }

  .centerContact .wpcf7-submit, .aproposContact .wpcf7-submit, .contactBlueBtn .wpcf7-submit, .blogBlock .vc_grid-item .vc_gitem-link, .single-post .comments-area .submit, .footerPage .addressAndLink, .footerPage .belowFooterText {
    font-size: calc(14vw / 13); }

  .limitedContent {
    padding: 0px calc(140vw / 13); }

  .authorHomepage {
    width: calc(523vw / 13);
    margin-top: calc(-164vw / 16); }

  .blogBlock {
    padding: 0px calc(120vw / 20); }

  .footerPage {
    padding: calc(70vw / 20) calc(125vw / 20) !important; }

  .paddingContent {
    padding: 20px calc(190vw / 20); }

  .site-header, .padding-top-header {
    padding: 20px calc(190vw / 20) 0px; }

  .centerContact .wpcf7-submit {
    width: calc(304vw / 13) !important; }

  .blogBlock .vc_grid-item .vc_gitem-animated-block .vc_gitem-zone {
    height: calc(250vw / 13);
    width: calc(250vw / 13); }

  .main-navigation div > ul > li {
    padding: 5px calc(10vw / 13) 0px; }

  .custom-logo-link {
    width: calc(223vw / 13); }

  .blogBlock .vc_pageable-slide-wrapper {
    display: flex; }

  .footerPage .addressAndLink .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
    font-size: calc(22vw / 13) !important; }

  .footerPage .addressAndLink .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    width: calc(30vw / 13);
    height: calc(30vw / 13); }

  .centerContact {
    padding: 0px calc(515vw / 20); }

  .titleCover {
    top: calc(-420vw / 13); }
    .titleCover .title {
      font-size: calc(40vw / 13); }
    .titleCover .description {
      font-size: calc(24vw / 13); } }
@media (min-width: 1367px) {
  .font40 {
    font-size: calc(40vw / 20); }

  .font30 {
    font-size: calc(30vw / 20); }

  .font24, .single-post .entry-title {
    font-size: calc(24vw / 20); }

  .font20, .main-navigation a, .single-post .widget-area .widget-title {
    font-size: calc(20vw / 20); }

  .main-navigation ul li:hover > ul > li:nth-child(1),
  .main-navigation ul li.focus > ul > li:nth-child(1), .font18, .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_title, .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_excerpt {
    font-size: calc(18vw / 20); }

  .main-navigation .sub-menu a, .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_author, .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_date, .single-post .widget-area .rpwwt-widget .rpwwt-post-title, .footerPage .widget_nav_menu > div > ul, .footerPage .contactFooter .title {
    font-size: calc(16vw / 20); }

  .centerContact .wpcf7-submit, .aproposContact .wpcf7-submit, .contactBlueBtn .wpcf7-submit, .blogBlock .vc_grid-item .vc_gitem-link, .single-post .comments-area .submit, .footerPage .addressAndLink, .footerPage .belowFooterText {
    font-size: calc(14vw / 20); }

  .limitedContent {
    padding: 0px calc(350vw / 20); }

  .authorHomepage {
    width: calc(523vw / 20);
    margin-top: calc(-164vw / 16); }

  .blogBlock {
    padding: 0px calc(280vw / 20); }

  .footerPage {
    padding: calc(70vw / 20) calc(400vw / 20) !important; }

  .paddingContent {
    padding: 20px calc(287vw / 20); }

  .site-header, .padding-top-header {
    padding: 20px calc(287vw / 20) 0px; }

  .centerContact .wpcf7-submit {
    width: calc(304vw / 20) !important; }

  .blogBlock .vc_grid-item .vc_gitem-animated-block .vc_gitem-zone {
    height: calc(250vw / 16);
    width: calc(250vw / 16); }

  .main-navigation div > ul > li {
    padding: 5px 10px 0px; }

  .blogBlock .vc_pageable-slide-wrapper {
    display: flex; }

  .footerPage .addressAndLink .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon {
    font-size: calc(22vw / 20) !important; }

  .footerPage .addressAndLink .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    width: calc(30vw / 20);
    height: calc(30vw / 20); }

  .centerContact {
    padding: 0px calc(515vw / 20); }

  .titleCover {
    top: calc(-420vw / 16); }
    .titleCover .title {
      font-size: calc(40vw / 20); }
    .titleCover .description {
      font-size: calc(24vw / 20); } }
.upperCase {
  text-transform: uppercase; }

.extraBold {
  font-weight: bolder; }

.whiteColor {
  color: #fff; }

.noMargin.bottom {
  margin-bottom: 0px; }
.noMargin.top {
  margin-top: 0px; }
.noMargin.left {
  margin-left: 0px; }

.noPadding.top {
  padding-top: 0px; }
.noPadding.left {
  padding-left: 0px; }

.borders.left {
  border-left: 1px solid #fff; }
.borders.right {
  border-right: 1px solid #fff; }

.designGridImg .wpb_image_grid_ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .designGridImg .wpb_image_grid_ul > li {
    position: initial !important; }

.listul.border-down li {
  border-bottom: 1px #333 solid; }
.listul.margin-down li {
  margin-bottom: 7px; }
.listul.no-dot {
  list-style: none; }

.fontPT {
  font-family: "PT Serif"; }

.link {
  text-decoration: underline;
  font-weight: bold;
  color: #608eb5; }

.titleCover {
  height: 0px;
  position: relative;
  color: #fff; }
  .titleCover .description {
    font-family: "PT Serif"; }

.authorHomepage {
  margin-bottom: 0px !important; }

.centerContact .wpcf7-form-control, .aproposContact .wpcf7-form-control, .contactBlueBtn .wpcf7-form-control {
  border-radius: 4px;
  width: 100%; }
.centerContact .wpcf7-submit, .aproposContact .wpcf7-submit, .contactBlueBtn .wpcf7-submit {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background: #333333;
  border-radius: 24px;
  height: 45px;
  border: none;
  margin: 0 auto;
  display: block; }

.centerContact.blueBtn .wpcf7-submit {
  background: #608eb5; }

.aproposContactRow .vc_column-inner {
  padding-top: 0px !important; }

.aproposContact {
  background: rgba(51, 51, 51, 0.7); }
  .aproposContact .wpcf7 {
    width: 80%; }
  .aproposContact .wpcf7-submit {
    background: #608eb5;
    width: 200px;
    margin: 0px; }

.contactBlueBtn .wpcf7-submit {
  background: #608eb5;
  width: 200px;
  margin: 0px; }

.authorOverFlow {
  overflow: initial !important; }

.btntheme a, .btntheme input[type="submit"] {
  text-transform: uppercase;
  background-color: #608eb5 !important;
  border-radius: 44px !important;
  color: #fff;
  letter-spacing: 2px; }

.noPaddingVC .vc_column-inner {
  padding-top: 0px !important; }

.infoletter {
  color: #fff;
  min-height: 450px !important; }
  .infoletter p {
    margin-top: 0px !important;
    margin-bottom: 10px !important; }
  .infoletter .vc_column-inner {
    padding-top: 0px !important; }
  .infoletter .formBox {
    display: flex;
    justify-content: center; }
    .infoletter .formBox input[type="email"] {
      border-radius: 4px;
      margin-right: 20px;
      width: 270px; }
    .infoletter .formBox input[type="submit"] {
      font-weight: bold;
      border-width: 0px; }

.blogBlock .vc_grid.vc_row.vc_grid-gutter-30px .vc_pageable-slide-wrapper {
  margin-right: 0px !important; }
.blogBlock .vc_pageable-slide-wrapper > p {
  display: none; }
.blogBlock .vc_grid-item {
  padding-right: 0px !important;
  font-family: "PT Serif"; }
  .blogBlock .vc_grid-item .vc_gitem-animated-block .vc_gitem-zone {
    border-radius: 100%;
    margin: 0 auto; }
  .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_title {
    font-weight: bold;
    text-transform: uppercase; }
  .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_author {
    color: #5586b0; }
  .blogBlock .vc_grid-item .vc_gitem-post-data-source-post_date {
    color: #5586b0; }
  .blogBlock .vc_grid-item .vc_gitem-link {
    font-family: Montserrat; }

.single-post .vc_row.paddingContent {
  margin: 0px; }
.single-post .entry-title {
  font-family: "PT Serif";
  text-transform: uppercase; }
.single-post .entry-meta {
  padding-bottom: 10px; }
  .single-post .entry-meta > span {
    display: block;
    color: #608eb5; }
.single-post .widget-area .widget-title {
  text-transform: uppercase;
  font-weight: bold;
  padding: 30px 0px; }
.single-post .widget-area .widget_categories ul {
  margin: 0px;
  list-style: none;
  padding-left: 10px; }
  .single-post .widget-area .widget_categories ul li {
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px #333 solid;
    display: block; }
    .single-post .widget-area .widget_categories ul li:before {
      position: absolute;
      top: 0;
      left: -21px;
      content: ">";
      color: #608eb5; }
    .single-post .widget-area .widget_categories ul li a {
      text-decoration: none;
      color: #333;
      font-weight: bold; }
.single-post .widget-area .rpwwt-widget .widget-title {
  border-bottom: 1px solid #333;
  margin: 0px;
  padding-bottom: 10px; }
.single-post .widget-area .rpwwt-widget .wp-post-image {
  border-radius: 100%; }
.single-post .widget-area .rpwwt-widget a {
  text-decoration: none;
  color: #333;
  font-weight: bold; }
.single-post .widget-area .rpwwt-widget li {
  padding: 10px 0px;
  border-bottom: 1px solid #333;
  margin: 0px; }
.single-post .comments-area .submit {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background: #618eb5;
  border-radius: 4px;
  height: 45px;
  border: none; }
.single-post .comments-area input:not([type="submit"]) {
  width: 100%; }

.footerPage {
  min-height: calc(480vw / 20);
  background-color: #608eb5;
  color: #fff; }
  .footerPage p {
    margin-top: 0px !important; }
  .footerPage .widget_nav_menu > div > ul {
    list-style: none;
    padding: 0px;
    margin: 0px; }
    .footerPage .widget_nav_menu > div > ul a {
      text-decoration: none;
      color: #fff; }
      .footerPage .widget_nav_menu > div > ul a:hover {
        color: #d5d5d5; }
  .footerPage .addressAndLink .wpb_text_column {
    margin-bottom: 10px; }
  .footerPage .addressAndLink .vc_icon_element {
    display: inline-block; }
  .footerPage .contactFooter .title {
    margin-bottom: 10px !important; }
  .footerPage .contactFooter input[type=email] {
    width: 100%; }
  .footerPage .contactFooter input[type="submit"] {
    margin-top: 10px;
    background-color: #333333 !important;
    border-width: 0px;
    padding: 9px 19px; }

.admin-bar .topHeader {
  top: 35px; }

.topHeader {
  position: absolute;
  top: 0px;
  right: 0; }
  .topHeader a[href*="facebook"] {
    font-size: 0px;
    font-family: FontAwesome; }
    .topHeader a[href*="facebook"]:before {
      font-size: 18px;
      content: "\f230"; }
  .topHeader a[href*="twitter"] {
    font-size: 0px;
    font-family: FontAwesome; }
    .topHeader a[href*="twitter"]:before {
      font-size: 18px;
      content: "\f099"; }
  .topHeader a[href*="linkedin"] {
    font-size: 0px;
    font-family: FontAwesome; }
    .topHeader a[href*="linkedin"]:before {
      font-size: 18px;
      content: "\f0e1"; }

article.hentry {
  margin-bottom: 0px; }

.headerMobile #cssmenu, .headerMobile #cssmenu ul, .headerMobile #cssmenu ul li, .headerMobile #cssmenu ul li a, .headerMobile #cssmenu #head-mobile {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box; }

.headerMobile #cssmenu:after, .headerMobile #cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.headerMobile header {
  position: relative;
  width: 100%;
  background: #ffffff; }
.headerMobile .logo {
  position: relative;
  z-index: 123;
  padding: 10px;
  font: 18px verdana;
  color: #6ddb07;
  float: left;
  width: 15%; }
  .headerMobile .logo a {
    color: #6ddb07; }
.headerMobile nav {
  position: relative;
  width: 980px;
  margin: 0 auto; }
.headerMobile #cssmenu {
  font-family: sans-serif;
  background: #ffffff; }
  .headerMobile #cssmenu > ul {
    margin: 0px !important; }
  .headerMobile #cssmenu ul {
    padding: 0px; }
  .headerMobile #cssmenu ul li.active {
    background: #608eb5 !important;
    transition: background .3s ease; }
    .headerMobile #cssmenu ul li.active a {
      color: #fff; }
    .headerMobile #cssmenu ul li.active:hover {
      background: #608eb5 !important;
      transition: background .3s ease; }
  .headerMobile #cssmenu ul li.has-sub.active:hover {
    background: #608eb5 !important;
    transition: background .3s ease; }
  .headerMobile #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
    background: #363636; }
  .headerMobile #cssmenu ul ul {
    position: absolute;
    left: -9999px; }
    .headerMobile #cssmenu ul ul li {
      height: 0;
      background: #ffffff;
      transition: all .25s ease; }
      .headerMobile #cssmenu ul ul li a {
        border-bottom: 1px solid rgba(150, 150, 150, 0.15);
        padding: 11px 15px;
        width: 170px;
        font-size: 12px;
        text-decoration: none;
        color: #333;
        font-weight: 400; }
        .headerMobile #cssmenu ul ul li a:hover {
          color: #fff; }
      .headerMobile #cssmenu ul ul li.has-sub > a:after {
        position: absolute;
        top: 16px;
        right: 11px;
        width: 8px;
        height: 2px;
        display: block;
        background: #333;
        content: ''; }
      .headerMobile #cssmenu ul ul li.has-sub > a:before {
        position: absolute;
        top: 13px;
        right: 14px;
        display: block;
        width: 2px;
        height: 8px;
        background: #333;
        content: '';
        transition: all .25s ease; }
      .headerMobile #cssmenu ul ul li.has-sub:hover {
        background: #363636; }
      .headerMobile #cssmenu ul ul li:hover > a {
        color: #fff; }
      .headerMobile #cssmenu ul ul li:last-child > a {
        border-bottom: 0; }
      .headerMobile #cssmenu ul ul li.last-item > a {
        border-bottom: 0; }
    .headerMobile #cssmenu ul ul ul {
      margin-left: 100%;
      top: 0; }
      .headerMobile #cssmenu ul ul ul li.active a {
        border-left: 1px solid #ffffff; }
    .headerMobile #cssmenu ul ul > li.has-sub:hover > a:before {
      top: 17px;
      height: 0; }
  .headerMobile #cssmenu #head-mobile {
    display: none; }
  .headerMobile #cssmenu > ul > li {
    float: left; }
    .headerMobile #cssmenu > ul > li > a {
      padding: 17px;
      font-size: 12px;
      letter-spacing: 1px;
      text-decoration: none;
      color: #333;
      font-weight: 700; }
    .headerMobile #cssmenu > ul > li:hover {
      background: #608eb5 !important;
      transition: background .3s ease; }
      .headerMobile #cssmenu > ul > li:hover > a {
        color: #fff; }
    .headerMobile #cssmenu > ul > li.has-sub > a {
      padding-right: 30px; }
      .headerMobile #cssmenu > ul > li.has-sub > a:after {
        position: absolute;
        top: 22px;
        right: 11px;
        width: 8px;
        height: 2px;
        display: block;
        background: #333;
        content: ''; }
      .headerMobile #cssmenu > ul > li.has-sub > a:before {
        position: absolute;
        top: 19px;
        right: 14px;
        display: block;
        width: 2px;
        height: 8px;
        background: #333;
        content: '';
        transition: all .25s ease; }
    .headerMobile #cssmenu > ul > li.has-sub:hover > a:before {
      top: 23px;
      height: 0; }
    .headerMobile #cssmenu > ul > li.has-sub > ul > li.active > a {
      border-top: 1px solid #ffffff; }
  .headerMobile #cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: 1px solid #ffffff; }
  .headerMobile #cssmenu li:hover > ul {
    left: auto; }
    .headerMobile #cssmenu li:hover > ul > li {
      height: 35px; }
@media screen and (max-width: 767px) {
  .headerMobile .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    text-align: center;
    padding: 10px 0 0;
    float: none; }
  .headerMobile .logo2 {
    display: none; }
  .headerMobile nav {
    width: 100%; }
  .headerMobile #cssmenu {
    width: 100%; }
    .headerMobile #cssmenu ul {
      width: 100%;
      display: none; }
      .headerMobile #cssmenu ul li {
        width: 100%;
        border-top: 1px solid #444; }
        .headerMobile #cssmenu ul li:hover {
          background: #363636; }
        .headerMobile #cssmenu ul li a {
          width: 100%;
          border-bottom: 0; }
      .headerMobile #cssmenu ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left; }
        .headerMobile #cssmenu ul ul li {
          height: auto;
          background: #ffffff !important; }
          .headerMobile #cssmenu ul ul li a {
            width: 100%;
            border-bottom: 0;
            padding-left: 25px;
            color: #333;
            background: none; }
          .headerMobile #cssmenu ul ul li:hover {
            background: #363636 !important; }
            .headerMobile #cssmenu ul ul li:hover > a {
              color: #fff; }
          .headerMobile #cssmenu ul ul li.active > a {
            color: #fff; }
        .headerMobile #cssmenu ul ul ul {
          position: relative;
          left: 0;
          width: 100%;
          margin: 0;
          text-align: left; }
          .headerMobile #cssmenu ul ul ul li a {
            padding-left: 35px; }
          .headerMobile #cssmenu ul ul ul li.active a {
            border-left: none; }
        .headerMobile #cssmenu ul ul .submenu-button {
          height: 34px;
          width: 34px; }
          .headerMobile #cssmenu ul ul .submenu-button:after {
            top: 15px;
            right: 13px; }
          .headerMobile #cssmenu ul ul .submenu-button:before {
            top: 12px;
            right: 16px; }
        .headerMobile #cssmenu ul ul > li.has-sub > a:after {
          display: none; }
        .headerMobile #cssmenu ul ul > li.has-sub > a:before {
          display: none; }
    .headerMobile #cssmenu > ul > li {
      float: none; }
      .headerMobile #cssmenu > ul > li.has-sub > a:after {
        display: none; }
      .headerMobile #cssmenu > ul > li.has-sub > a:before {
        display: none; }
      .headerMobile #cssmenu > ul > li.has-sub > ul > li.active > a {
        border-top: none; }
    .headerMobile #cssmenu > ul ul > li.has-sub > ul > li.active > a {
      border-top: none; }
    .headerMobile #cssmenu #head-mobile {
      display: block;
      padding: 74px;
      color: #333;
      font-size: 12px;
      font-weight: 700; }
    .headerMobile #cssmenu .submenu-button {
      position: absolute;
      z-index: 99;
      right: 0;
      top: 0;
      display: block;
      border-left: 1px solid #444;
      height: 46px;
      width: 46px;
      cursor: pointer; }
      .headerMobile #cssmenu .submenu-button.submenu-opened {
        background: #262626; }
        .headerMobile #cssmenu .submenu-button.submenu-opened:after {
          background: #fff; }
        .headerMobile #cssmenu .submenu-button.submenu-opened:before {
          display: none; }
      .headerMobile #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #333;
        content: ''; }
      .headerMobile #cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #333;
        content: ''; }
    .headerMobile #cssmenu li:hover > ul > li {
      height: auto; }
  .headerMobile .button {
    width: 55px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 12399994; }
    .headerMobile .button:after {
      position: absolute;
      top: 22px;
      right: 20px;
      display: block;
      height: 4px;
      width: 20px;
      border-top: 2px solid #333;
      border-bottom: 2px solid #333;
      content: ''; }
    .headerMobile .button:before {
      transition: all .3s ease;
      position: absolute;
      top: 16px;
      right: 20px;
      display: block;
      height: 2px;
      width: 20px;
      background: #333;
      content: ''; }
    .headerMobile .button.menu-opened:after {
      transition: all .3s ease;
      top: 23px;
      border: 0;
      height: 2px;
      width: 19px;
      background: #fff;
      transform: rotate(45deg); }
    .headerMobile .button.menu-opened:before {
      top: 23px;
      background: #fff;
      width: 19px;
      transform: rotate(-45deg); } }
@media (min-width: 768px) {
  .headerMobile {
    display: none; } }

@media (max-width: 767px) {
  #masthead {
    display: none !important; } }

/*# sourceMappingURL=style.css.map */
