.site-header{
  display: flex;
  align-items: flex-end;
}
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  .menu-primary-container, .menu-primary-anglais-container {
    float: right;
    > ul > li > a {
     // padding-bottom: 44px;
    }
  }
  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      //top: 100%;
      left: -999em;
      z-index: 99999;
      background: #608eb5;
      padding:20px 120px 20px 20px;
	  margin-top: 20px;
      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          //left: 100%;
		  
        }
      }

      a {
        //width: 200px;
        color:#fff;
      }
	.current_page_item > a {
		  text-decoration:underline;
      }
      :hover > a,
      .focus > a,
	  {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: inherit;
      //width: 100%;
    // display: flex;
    //  flex-wrap: wrap;
      > li{
        text-transform: uppercase;
		float:none;
        &:nth-child(1){
        //  width: 100%;
          @extend %font18;
          //font-weight: bold;
        //  border-bottom: 1px #fff solid;
         // padding-bottom: 25px;
         // margin-bottom: 25px;
        }
        &:nth-child(3n+1){
          //text-align: right;
        }
        &:nth-child(3n){
          //text-align: center;
        }
        &:nth-child(1){
         // text-align: left;
        }
        flex-grow: 1;
        width: 100%;
      }
    }
  }

  li {
    float: left;
    //position: relative;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    font-size:20px;
    font-family: Montserrat;
    display: block;
    text-decoration: none;
    color:#333333;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
