input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid $color__border-input;
	border-radius: 10px;
	padding: 3px;
	font-style:italic;
    padding: 13px 0 15px 20px;
	font-size: 14px;
	color: #3b3d40;
	font-family: "PT Serif";

	&:focus {
		color: #3b3d40;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

input::placeholder,textarea::placeholder {
  	font-size: 14px;
	color: #3b3d40;
	font-family: "PT Serif";
}
